@charset "utf-8";
body{
  background-color: black;
  font-family: Noto Sans;
  white-space: nowrap;
}

/*ヘッダーはここから*/
.header{
  position:fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 50px;
  background-color: #000;
  z-index: 10;
}
.header-logo{
	position: absolute;
	top: 10px;
	left: 232px;
	height: 100%;
}
.header-logo a{
  color: #FFF;
	text-decoration: none;
	font-size: 24px;
	height: 100%;
	display: flex;
	align-items: center;
}
.header-nav{
	position: absolute;
	top: 50%;
	left: calc( 1920px - 475px);
	display: flex;
	transform: translateY(-50%);
	height: 100%;
}
.header-nav a{
  color: #FFF;
	text-decoration: none;
	font-size: 15px;
	margin-right: 20px;
	height: 100%;
	display: flex;
	align-items: center;
}
.header-nav a:hover{
	border-bottom: 4px solid #FFF;
}
/*ヘッダーはここまで*/

/*ABOUTはここから*/
.about{
  position: absolute;
  text-decoration: none;
  top: 80px;
  left: calc( 600px + 277px);
  display: flex;
	align-items: center;
}
.about p{
  color: #FFF;
	text-decoration: none;
	font-size: 48px;
	height: 100%;
	display: flex;
	align-items: center;
}
.about-name{
  position: absolute;
  text-decoration: none;
  top: 180px;
  left: calc( 598px + 277px);
  display: flex;
	align-items: center;
}
.about-name p{
  color: #FFF;
	text-decoration: none;
	font-size: 40px;
	height: 100%;
	display: flex;
	align-items: center;
}
.about-profile{
  position: absolute;
  text-decoration: none;
  top: 257px;
  left: calc( 540px + 277px);
	align-items: center;
}
.about-profile p{
  color: #FFF;
	text-decoration: none;
	font-size: 24px;
  margin-bottom: 20px;
	height: 100%;
	align-items: center;
}
.education{
  position: absolute;
  text-decoration: none;
  top: 433px;
  left: calc( 614px + 277px );
	align-items: center;
}
.education p{
  color: #FFF;
	text-decoration: none;
	font-size: 24px;
	height: 100%;
	align-items: center;
}
.education-when{
  position: absolute;
  text-decoration: none;
  top: 487px;
  left: calc( 311px + 277px);
	align-items: center;
}
.education-when p{
  color: #FFF;
	text-decoration: none;
	font-size: 24px;
	height: 100%;
  margin-bottom: 15px;
	align-items: center;
}
.education-what{
  position: absolute;
  text-decoration: none;
  top: 487px;
  left: calc( 476px + 277px);
	align-items: center;
}
.education-what p{
  color: #FFF;
	text-decoration: none;
	font-size: 24px;
	height: 100%;
  margin-bottom: 15px;
	align-items: center;
}
/*ABOUTはここまで*/

/*SKILLはここから*/
.skill{
  position: absolute;
  text-decoration: none;
  top: 803px;
  left: calc( 613px + 277px);
	align-items: center;
}
.skill p{
  color: #FFF;
	text-decoration: none;
	font-size: 48px;
	height: 100%;
	align-items: center;
}
.skill-tool{
  position: absolute;
  text-decoration: none;
  top: 898px;
  left: calc( 645px + 277px);
	align-items: center;
}
.skill-tool p{
  color: #FFF;
	text-decoration: none;
	font-size: 24px;
	height: 100%;
	align-items: center;
}
.skill-tool-img{
  position: absolute;
  text-decoration: none;
  top: 960px;
  left: calc( 490px + 277px);
	align-items: center;
}
.skill-tool-img img{
  margin-left: 40px;
}
.skill-programming{
  position: absolute;
  text-decoration: none;
  top: 1080px;
  left: calc( 585px + 277px);
	align-items: center;
}
.skill-programming p{
  color: #FFF;
	text-decoration: none;
	font-size: 24px;
	height: 100%;
	align-items: center;
}
.skill-programming-what{
  position: absolute;
  text-decoration: none;
  top: 1125px;
  left: calc( 460px + 277px);
	align-items: center;
}
.skill-programming-what p{
  color: #FFF;
	text-decoration: none;
	font-size: 40px;
	height: 100%;
  margin-bottom: 5px;
  text-align: center;
	align-items: center;
}
/*SKILLはここまで*/

/*LEARNはここから*/
/*.section{
  padding: 100px 0 100px 0;
}*/
.learn{
  position: absolute;
  text-decoration: none;
  top: 1335px;
  left: calc( 606px + 277px);
	align-items: center;
}
.learn p{
  color: #FFF;
	text-decoration: none;
	font-size: 48px;
	height: 100%;
	align-items: center;
}
.learn-text{
  position: absolute;
  text-decoration: none;
  top: 1430px;
  left: calc( 442px + 277px);
	align-items: center;
}
.learn-text p{
  color: #FFF;
	text-decoration: none;
	font-size: 24px;
	height: 100%;
	align-items: center;
}
.courses{
  margin-top: 1530px;
  display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.course{
  width: 350px;
  height: 360px;
  box-shadow: 0 0 4px #FFF;
  margin-right: 20px;
	margin-bottom: 50px;
	border-radius: 4px;
}
.course:last-child,
.course:nth-child(5n){
	margin-right: 0;
}
.course:nth-child(n + 6) {
	margin-bottom: 0;
}
.course-img {
  width: 350px;
}
.course-img img{
  width: 100%;
}
.course-title{
	color: #FFF;
  text-decoration: none;
	font-size: 24px;
	text-align: left;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 8px;
  display: block;
}
.course-title:hover{
	border-left: 5px solid #797979;
}
.course-langage{
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.course-langage p{
  color: #797979;
	text-decoration: none;
	font-size: 12px;
	height: 100%;
	align-items: center;
  margin-bottom: 5px;
}
/*LEARNはここまで*/

/*フッターはここから*/
.footer{
	position: relative;
	padding: 50px 0 25px 0;
	background-color: #000;
}
.footer-logo{
  position: absolute;
	left: 45%;
}
.footer-logo a{
  color: #FFF;
	text-decoration: none;
	font-size: 24px;
	height: 100%;
	display: flex;
	align-items: center;
}
.footer-nav{
	text-align: center;
	margin-top: 50px;
  margin-bottom: 40px;
}
.footer-nav a {
	text-decoration: none;
	color: #fff;
	font-size: 12px;
	margin-right: 20px;
}
.footer-nav a:last-child{
	margin-right: 0;
}
.copyright{
	color: #fff;
	text-align: center;
	font-size: 12px;
}
/*フッターはここまで*/
